@{
    ViewData["Title"] = "Home Page";
}

<p>
    As a project of engineering practice, we intend to develop a web page with a framework designed to enable an employee of a firm to fill a form in order to ask his employer some days off.

    Hence, we would like to give the oppotunity to have the employee select the reason(s) of his leave and its duration.

    In parallel with this, we would like to create an interface for the manager to accept or decline the request of the employee.
</p> <!-- METTRE NOS TETE DE VAINQUEUR EN MODE ENTREPRISE -->
