@model IEnumerable<Intra.Practice.Engineering.Models.User>

@{
    ViewData["Title"] = "Home Page";
}

<body class="bodyColor">
    <div class="divSpaceForm">
        <img src="~/images/Intra.jpg" class="center-block">
        <h1 style="font-family:verdana; color: white"> About the INTRA </h1><br><br>
        <p style="font-family:courier; color:white; font-size:large">
            As a project of engineering practice, we intend to develop a web page with a framework designed to enable an employee of a firm to fill a form in order to ask his employer some days off.

            Hence, we would like to give the oppotunity to have the employee select the reason(s) of his leave and its duration.

            In parallel with this, we would like to create an interface for the manager to accept or decline the request of the employee.
        </p>
        <h1 style="font-family:verdana; color: white; padding-top: 50px"> This project was made by : </h1><br><br>
        <div id="banner" style="overflow: hidden; display: flex; justify-content:space-around;">
            <div>
                <img src="~/images/gregoire renard.jpg" alt="HTML5 Icon" style="width:150px;height:150px;"><br />
                <label style="font-family:courier; color: white">Grégoire Renard</label>
            </div>
            <div>
                <img src="~/images/antoine alis.jpg" alt="HTML5 Icon" style="width:150px;height:150px;"><br />
                <label style="font-family:courier; color: white">Antoine Alis</label>
            </div>
            <div>
                <img src="~/images/nicolas gueguen.jpg" alt="HTML5 Icon" style="width:150px;height:150px;"><br />
                <label style="font-family:courier; color: white">Nicolas Guéguen</label>
            </div>
        </div>
    </div>
</body>
