
@{
    ViewData["Title"] = "SignIn";
}
<body class="bodyColor">
    <div class="divSpaceForm">
        <img src="~/images/Intra.jpg" class="center-block">
        <form method="post" action="SignIn/SignInSubmit" name="formSignIn" id="formSignIn" onsubmit="requiredSignIn()">
            <div class="form-group">
                <label for="exampleInputEmail1" style="color: white">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" style="color: white">Password</label>
                <input type="password" class="form-control" id="passwd" name="passwd" placeholder="Password">
            </div>
            <br>
            <button type="submit" class="btn btn-warning btn-block" id="submit" name="send">Submit</button>
            <div class="form-check">
                <label class="form-check-label">
                    <a asp-area="" asp-controller="SignUp" asp-action="Index" style="color: #f0ad4e">You don't have an account ? Sign Up !</a>
                </label>
            </div>
        </form>
    </div>
</body>
